$mobileBreakpoint: 768px;
$smallMobileHeight: 670px;

@import 'header';
@import 'footer';
@import 'background';
@import 'container';
@import 'modal';
@import 'warnings';
@import 'survey';

html {
    height: 100%;
}
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: Helvetica;
    background-color: #000;

    &.modalVisible {
        &:not(.firefox) .background,
        .container {
            filter: blur(5px);
        }
    }
}

button.closed-captions {
    cursor: pointer;
    position: relative;
    width: 40px;
    height: 27px;
    margin: 10px;
    background: transparent;
    border: none;

    &.off .fill {
        fill: white;
      }
      
      &.on .fill {
        fill: rgb(0, 173, 239)
      }
}


.textTrackContainer {

    .wrapper {
        position: absolute;
        bottom: 50px;
        flex-direction: column-reverse;
        padding: 5px 10px;background: white;
    }

    .ctn {
        display: block;
        position: relative;
        cursor: pointer;
        padding-left: 25px;
        margin-bottom: 13px;
        font-size: 12px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        white-space: nowrap;
        line-height: 16px;
    }

    /* Hide the browser's default radio button */
    .ctn input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

    /* Create a custom radio button */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 16px;
        width: 16px;
        background-color: #eee;
        border-radius: 50%;
    }

    /* On mouse-over, add a grey background color */
    .ctn:hover input ~ .checkmark {
    background-color: #ccc;
    }

    /* When the radio button is checked, add a blue background */
    .ctn input:checked ~ .checkmark {
    background-color: #2196F3;
    }

    /* Create the indicator (the dot/circle - hidden when not checked) */
    .ctn:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the indicator (dot/circle) when checked */
    .ctn input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the indicator (dot/circle) */
    .ctn .checkmark:after {
        top: 4px;
        left: 4px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: white;
    }

}

.hidden {
    display: none;
}



div.btn-group {
    background: transparent;
    position: absolute;
    right: 10px;
    top: 5px;
    z-index: 99999;
    padding: 10px;
}


button.ctrl {
    background-color: white;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 29px;
    outline: none;
    padding: 0;
    width: 29px;
}


button.ctrl .ctrl-icon {
    background-position: 50%;
    background-repeat: no-repeat;
    display: block;
    height: 100%;
    width: 100%;
}


button.ctrl.ctrl-fullscreen .ctrl-icon {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='29' height='29' xmlns='http://www.w3.org/2000/svg' fill='%23333'%3E%3Cpath d='M24 16v5.5c0 1.75-.75 2.5-2.5 2.5H16v-1l3-1.5-4-5.5 1-1 5.5 4 1.5-3h1zM6 16l1.5 3 5.5-4 1 1-4 5.5 3 1.5v1H7.5C5.75 24 5 23.25 5 21.5V16h1zm7-11v1l-3 1.5 4 5.5-1 1-5.5-4L6 13H5V7.5C5 5.75 5.75 5 7.5 5H13zm11 2.5c0-1.75-.75-2.5-2.5-2.5H16v1l3 1.5-4 5.5 1 1 5.5-4 1.5 3h1V7.5z'/%3E%3C/svg%3E")
}

button.ctrl.ctrl-fullscreen.shrink .ctrl-icon {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='29' height='29' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.5 16c-1.75 0-2.5.75-2.5 2.5V24h1l1.5-3 5.5 4 1-1-4-5.5 3-1.5v-1h-5.5zM13 18.5c0-1.75-.75-2.5-2.5-2.5H5v1l3 1.5L4 24l1 1 5.5-4 1.5 3h1v-5.5zm3-8c0 1.75.75 2.5 2.5 2.5H24v-1l-3-1.5L25 5l-1-1-5.5 4L17 5h-1v5.5zM10.5 13c1.75 0 2.5-.75 2.5-2.5V5h-1l-1.5 3L5 4 4 5l4 5.5L5 12v1h5.5z'/%3E%3C/svg%3E")
}


@media (min-width: 480px) {

    /* 
        Fullscreen mode 
    */
    body.fs .container {
        margin-bottom: 0px;
    }
    body.fs .header, body.fs footer {
        display:none;
    }

    // body[data-videoOnly=true] .videoContainer, 
    body.fs .container .videoContainer {
        height: 70% !important;
        margin-top: 10px;
    }


    body.fs .container .wherebyContainer iframe {
       // height: 240px; /*removed to inherit original height*/
    }

    body.fs .container .wherebyContainer {
        // min-height: 240px; /*removed to inherit original height*/
        height: 30%; 
    }

    body.fs .survey-cta-wrapper {
        display:none;
    }





    /*
        minimal
    */


    body.min .container {
        margin-bottom: 0px;
    }
    
    
    body.min .header,
    body.min footer{
        height: 20px;
        position: relative;
        z-index: 1;
    }
    
    
    body.min .header > a {
        top: 5px;
    }
    
    body.min .container .videoContainer {
        height: 70% !important;
        margin-top: 10px;
        position: relative;
        z-index: 100;
    }
    
    body.min .container .wherebyContainer iframe {
        // height: 240px; /*removed to inherit original height*/
    }
    
    body.min .container .wherebyContainer {
        // min-height: 240px; /*removed to inherit original height*/
        height: 30%;
    }
    
    body.min .survey-cta-wrapper.top {
        bottom: unset;
        top: -20px;
        transition: top 1s;

        &.middle {
            bottom: unset !important;
            top: 20%;
        }
    }

    @media (max-width: $mobileBreakpoint) {
        body.min .header {
            height: 50px;
        }
    }


    /* video expand button */
    .videoExpandContainer {
        margin: auto 5px;
        display: block !important;

        button.videoExpand {
            border-radius: 3px;
            background-color: white;
            border: 0;
            box-sizing: border-box;
            cursor: pointer;
            display: block;
            height: 29px;
            outline: none;
            padding: 0;
            width: 29px;

            .icon-expand {
                background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='29' height='29' xmlns='http://www.w3.org/2000/svg' fill='%23333'%3E%3Cpath d='M24 16v5.5c0 1.75-.75 2.5-2.5 2.5H16v-1l3-1.5-4-5.5 1-1 5.5 4 1.5-3h1zM6 16l1.5 3 5.5-4 1 1-4 5.5 3 1.5v1H7.5C5.75 24 5 23.25 5 21.5V16h1zm7-11v1l-3 1.5 4 5.5-1 1-5.5-4L6 13H5V7.5C5 5.75 5.75 5 7.5 5H13zm11 2.5c0-1.75-.75-2.5-2.5-2.5H16v1l3 1.5-4 5.5 1 1 5.5-4 1.5 3h1V7.5z'/%3E%3C/svg%3E");
                background-position: 50%;
                background-repeat: no-repeat;
                display: block;
                height: 100%;
                width: 100%;       
                
                &.shrink {
                    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='29' height='29' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.5 16c-1.75 0-2.5.75-2.5 2.5V24h1l1.5-3 5.5 4 1-1-4-5.5 3-1.5v-1h-5.5zM13 18.5c0-1.75-.75-2.5-2.5-2.5H5v1l3 1.5L4 24l1 1 5.5-4 1.5 3h1v-5.5zm3-8c0 1.75.75 2.5 2.5 2.5H24v-1l-3-1.5L25 5l-1-1-5.5 4L17 5h-1v5.5zM10.5 13c1.75 0 2.5-.75 2.5-2.5V5h-1l-1.5 3L5 4 4 5l4 5.5L5 12v1h5.5z'/%3E%3C/svg%3E");
                }
            }
        }

    }    

}

/* colours - dev */

body.colours .header {
	background-color: gray
}
body[data-videoOnly=true].colours .videoContainer, 
body.colours .videoContainer {
	background-color: white
}

body.colours .container .wherebyContainer {
	background-color:yellow
} 
body.colours .container .wherebyContainer iframe {
	background-color:red
}

