.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    &.unsupported::before,
    object {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100vw;
    }
    &.unsupported::before {
        content: "";
        background-image: url(/images/background.jpg);
        background-size: 100%;
        height: 100%;
    }
    object {
        &[data-layer="B"] {
            z-index: 1;
        }
        &[data-layer="C"] {
            z-index: 2;
        }
        &[data-layer="D"] {
            z-index: 3;
        }
        &[data-layer="E"] {
            z-index: 4;
        }
        &.hidden {
            display: none;
        }
    }
    .gif {
        button {
            width: 100% !important;
            height: 100% !important;
        }
        &.hidden,
        .gifffer-play-button {
            display: none;
        }
    }
}

@media (min-width: $mobileBreakpoint+1px) {
    .background object {
        margin-top: -16.5vw;
        @media (max-width: 1150px) {
            &[data-name*="LAYER 03_AUDIENCE"] {
                top: auto;
                bottom: 0;
            }
        }
    }
    .header {
        height: 7vw;
    }
}
@media (max-width: $mobileBreakpoint) {
    .background object {
        width: calc(1000px * 1.2);
        margin-top: calc(1000px * -0.2);
    }
    .header {
        height: 150px;
    }
    @media (max-height: $smallMobileHeight) {
        .header {
            height: 39px;
            .logo,
            .title {
                top: 4px;
            }
            .title {
                width: 111px;
            }
            &::after {
                top: 0;
                height: 39px;
            }
        }
        body .container {
            margin-bottom: 30px;
        }
        body .modal {
            height: calc(100% - 30px);
        }
        footer {
            height: 30px;
            .respects {
                font-size: 7px;
            }
        }
    }
}
