body {
    &[data-videoOnly="true"] {
        .videoContainer {
            height: 445px;
        }
        @media (max-width: $mobileBreakpoint) {
            @media (min-height: $smallMobileHeight+1px) {
                .header {
                    height: 100px;
                }
            }
            .container {
                display: flex;
                align-items: center;
            }
        }
    }
    &:not([data-videoOnly]) .container {
        display: flex;
        flex-direction: column;
    }
}
.container {
    flex-grow: 1;
    margin-bottom: 50px;
    &.knockRequired {
        .videoContainer {
            display: none;
        }
        .wherebyContainer {
            height: 100%;
            iframe {
                height: 100%;
            }
        }
    }

    .videoContainer,
    .wherebyContainer {
        position: relative;
        flex-grow: 1;
        height: 50%;
    }

    .videoContainer {
        display: flex;
        min-height: 169px;
        max-height: calc(100vw / 16 * 9);

        iframe#video {
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }
        video#video {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-width: 100%;
            max-height: 100%;
        }
        .widescreen {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .wherebyContainer {
        overflow: hidden;
        min-height: 320px;

        iframe {
            position: absolute;
            bottom: 0;
            left: calc(50% - 40vw);
            width: 80vw;
            height: 320px;
        }
    }

    iframe {
        border: none;
    }
}

.controls {
    display: flex;
    align-items: center;
    transform: translateY(150px);
    height: 50px;
    z-index: 1;
    transition: opacity 0.5s linear;
    &:not(:empty) {
        background-color: rgba(1, 3, 21, 0.6);
    }
    .playPause {
        cursor: pointer;
        width: 50px;
        height: 100%;
        margin-left: 10px;
        margin-right: 10px;
        color: #fff;
        position: relative;
        &.paused {
            &::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                width: 0;
                height: 0;
                border-top: 15px solid transparent;
                border-bottom: 15px solid transparent;
                border-left: 25px solid #fff;
                transform: translate(-50%, -50%);
            }
            &:hover::after {
                border-left-color: #f16a4c;
            }
        }
        &:not(.paused) {
            &::before,
            &::after {
                content: "";
                width: 8px;
                height: 25px;
                background-color: #fff;
                position: absolute;
                top: 50%;
                transform: translate(-50%, -50%);
            }
            &::before {
                left: 16px;
            }
            &::after {
                left: 34px;
            }
            &:hover {
                &::before,
                &::after {
                    background-color: #f16a4c;
                }
            }
        }
    }
    progress {
        cursor: pointer;
        -webkit-appearance: none;
        appearance: none;
    }
    > progress {
        flex-grow: 1;
        border: 1px #fff solid;
        &::-webkit-progress-bar {
            background-color: #000;
        }
        &::-webkit-progress-value {
            background-color: #fff;
        }
    }
    .volume {
        cursor: pointer;
        position: relative;
        width: 40px;
        height: 40px;
        margin: 10px;
        background-image: url(/images/volume.png);
        background-size: 200%;
        background-position: left top;
        @media (max-width: $mobileBreakpoint) {
            display: none;
        }
        &[data-level="half"] {
            background-position: right top;
        }
        &[data-level="third"] {
            background-position: left 40px;
        }
        &[data-level="muted"] {
            background-position: right 40px;
        }

        &:not(:hover) progress {
            display: none;
        }
        progress {
            position: absolute;
            transform: rotate(270deg) translateY(-50%);
            transform-origin: top left;
            top: 0;
            left: 50%;
            width: 100px;
            border: 1px #fff solid;
            &::-webkit-progress-bar {
                background-color: #000;
            }
            &::-webkit-progress-value {
                background-color: #fff;
            }
        }
    }
    .time {
        color: #fff;
        margin-left: 10px;
        margin-right: 10px;
    }
    .hoverTime {
        position: absolute;
        top: 0;
        margin-left: 70px;
        transform: translateX(-50%);
        background-color: #fff;
        font-size: 12px;
        padding: 0 5px;
        &:not(.visible) {
            display: none;
        }
    }
}
.videoContainer:not(:hover):not(.controlsVisible) .controls {
    opacity: 0;
}
.videoContainer .loading {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 25px;
    overflow: hidden;
    transform: translate(-50%, -100%);
    transform-origin: bottom;
    animation: rotating 1s linear infinite;
    &:not(.visible) {
        display: none;
    }
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border-top: 5px #fff solid;
    }
}
@keyframes rotating {
  from {
    transform: translate(-50%, -50%)rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.videoContainer .clickDetect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
