footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    padding: 0 24px;
    box-sizing: border-box;
    background-color: #fff;
    text-align: right;
    font-size: 14.5px;
    box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    @media (max-width: 550px) {
        padding: 0 18px;
    }
    a:not(:hover) {
        text-decoration: none;
    }
    > * {
        display: flex;
        align-items: center;
    }
    .links a {
        white-space: nowrap;
        margin-right: 1em;
        @media (max-width: 550px) {
            font-size: 10px;
        }
    }
    .cricos {
        @media (max-width: 550px) {
            font-size: 10px;
        }
        span {
            display: inline-block;
            white-space: pre-wrap;
        }
    }
    .respects {
        @media (max-width: 800px) and (min-width: $mobileBreakpoint+1px) {
            font-size: 13px;
        }
        @media (max-width: 550px) {
            font-size: 7px;
        }
    }
    @media (max-width: $mobileBreakpoint) and (min-width: 551px) {
        .links a,
        .cricos,
        .respects {
            font-size: 11px;
        }
    }
    &.cricos .respects,
    &:not(.cricos) .cricos {
        display: none;
    }
}
