.header {
    z-index: 2;
    &::before {
        content: "";
        display: block;
        background: linear-gradient(#000, transparent 81.0077091%);
        width: 100%;
        height: 176px;
        pointer-events: none;
        @media (max-width: $mobileBreakpoint) {
            height: 144px;
        }
    }
    @media (max-width: 550px) {
        &::after {
            content: "";
            display: block;
            width: 1px;
            height: 42px;
            position: absolute;
            top: 30.5px;
            left: 50%;
            transform: translateX(-50%);
            background-color: #fff;
        }
    }
    img {
        width: 100%;
    }
    .logo {
        display: block;
        width: 129px;
        position: absolute;
        top: 49px;
        left: 75px;
        @media (max-width: $mobileBreakpoint) {
            top: 34px;
            left: 32px;
            width: 107px;
        }
    }
    .title {
        display: block;
        width: 176px;
        position: absolute;
        top: 49px;
        right: 75px;
        text-decoration: none;
        @media (max-width: $mobileBreakpoint) {
            top: 30px;
            right: 30px;
            width: 144px;
        }
        .year {
            color: #fff;
            font-weight: 300;
            font-size: 13px;
            letter-spacing: 2.5px;
            text-align: center;
            transform: translate(2px, -3px);
            margin-top: -1px;
        }
    }
    @media (max-width: 1000px) and (min-width: $mobileBreakpoint+1px) {
        .logo,
        .title {
            top: 20px;
        }
    }
}
