.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s opacity linear;
    padding-top: 50px;
    box-sizing: border-box;
    z-index: 1;
    &:not(.visible) {
        opacity: 0;
        visibility: hidden;
        transition: 0.5s opacity linear, 0.5s visibility 0.5s;
    }


    h2 {
        font-size: 22px;
    }

    input[type="submit"],
    button {
        display: block;
        font-size: 13px;
        line-height: 21px;
        letter-spacing: 0.16px;
        width: 130px;
        padding: 8px 10px;
        box-sizing: border-box;
        cursor: pointer;
        margin: 1em auto 0 auto;
        background-color: #091868;
        border: none;
        color: #fff;
        appearance: none;
        text-transform: uppercase;
        &:hover {
            background-color: #f16a4c;
        }
    }

    .inner {
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.18px;
        text-align: center;
        width: calc(100% - 2em);
        max-width: 620px;
        max-height: 430px;
        padding: 27px 30px;
        box-sizing: border-box;
        position: relative;
        z-index: 1;
        overflow: auto;
        a.close {
            position: absolute;
            top: 0;
            right: 0;
            width: 30px;
            height: 32px;
            &::before,
            &::after {
                content: "";
                position: absolute;
                top: 22px;
                right: 20px;
                width: 1px;
                height: 16px;
                background-color: #fff;
            }
            &::before {
                transform: translate(-50%, -50%) rotate(45deg);
            }
            &::after {
                transform: translate(-50%, -50%) rotate(135deg);
            }
            &:hover {
                &::before,
                &::after {
                    background-color: #f16a4c;
                }
            }
        }
    }
    &#name {
        @media (max-width: $mobileBreakpoint) and (max-height: 350px) {
            // Make modal fill screen when soft keyboard appears
            align-items: stretch;
        }
        .permission {
            margin-bottom: 2em;
        }
        input[type="text"] {
            width: 100%;
            margin-top: 1em;
            padding: 8px 10px;
            box-sizing: border-box;
            font-size: 16px;
            &::placeholder {
                color: #9fa0ab;
            }
        }
        .error {
            color: #fff;
        }
    }
    &#early {
        strong {
            font-weight: bold;
        }
    }
    &#unsupported {
        ul {
            display: flex;
            justify-content: space-around;
            padding-left: 0;
            li {
                list-style: none;
                text-align: center;
                img {
                    display: block;
                    width: 60px;
                    height: 60px;
                    margin-bottom: 0.5em;
                }
            }
        }
    }
}
body.duringVideo .modal {
    background-color: rgba(1, 3, 21, 0.6);
}
.modal .inner,
#internetWarning,
#halfHourWarning {
    color: #fff;
    background-color: rgba(0, 2, 24, 0.8);
    border: 0.5px solid #fff;
    a {
        color: #fff;
    }
}
