  .modal .inner.inner-survey {
    width: 90%;
    margin: 0 auto;
    max-width: 840px;
    height: 79%;
    overflow: auto;
    max-height: 80%;
    text-align: left;

    iframe.survey {
      height: calc(100% - 95px);
      width: 100%;
      @media (max-width: $mobileBreakpoint) {
        height: calc(100% - 85px);
      }

      +p {
        margin: 0;
        text-align: right;
      }
    }

  }
  .survey-cta-wrapper {

    width: 100%;
    z-index: 99999;
    text-align: center;
    display: block;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    transition: bottom 1s;


    a.survey-cta {
      margin: 0 auto;  
      background-color: white;
      padding: 2px 5px;
      text-decoration: none;
      transition: padding 1s;
      display: inline-block;
      height: 15px;
      margin: 0;
      line-height: 14px;
      font-size: 14px;
      &:hover {
        text-decoration: underline;
      }
    }
    &.middle {
      bottom: 30%;
      a.survey-cta {
        padding: 1rem  5rem;
        display: inline-block;
        box-shadow: 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
      }
    }

  }

  @media (max-width: $mobileBreakpoint) {
    #survey.modal {
      padding-top:10px;

      h2 {
        font-size: 18px;  
      }
    }
  }


//   iframe.survey {

//     width: 90%;
//     margin: 0 auto;
//     max-width: 840px;
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%,-50%);
//     height: 79%;
//     overflow: auto;
// }
