#internetWarning {
    position: fixed;
    top: 1em;
    right: 1em;
    padding: 1em;
    z-index: 2;
    font-size: 13px;
    line-height: 21px;
    letter-spacing: 0.16px;
    &.hidden {
        display: none;
    }
}

#halfHourWarning {
    position: fixed;
    top: 0;
    left: 50%;
    padding: 1em;
    z-index: 2;
    &.hidden {
        display: none;
    }
    &:not(.hidden) {
        animation: halfHourWarning 7s forwards;
    }
}
@keyframes halfHourWarning {
    0% {
        transform: translate(-50%, -100%);
    }
    14%,
    86% {
        transform: translateX(-50%);
    }
    100% {
        transform: translate(-50%, -100%);
    }
}
